---
layout: default
---
<div class="home">
  <header>
    <div class="top-header">
      {% include logo.html %}
      {% include navigation.html %}
    </div>

    <div class="intro">
      <h3>2 June - 9 June 2018</h3>
    <h1>Help Firefox win on Android</h1>
    <h1>Support users in your language!</h1>
    <h3 id="countdown"></h3>
    </div>
  </header>

  <section class="description-container">
    <div class="description">
      <h2>Help users get a better experience</h2>
      <p>
        We’re introducing a new way for you to share your love for Firefox with thousands of mobile Firefox users.
      </p>
      <p>
        Help users who are asking for support in reviews on the Play store by participating in the Firefox Support Sprint. <strong>Join Mozillians around the world for a week of answering questions and helping users have a great experience in the Firefox Support Sprint!</strong>
      </p>
    </div>
  </section>

  <section id="actions" class="action-buttons">
    <a class="box" href="{{ '/host/' | prepend: site.baseurl }}">
      <h3>you could either</h3>
      <h2>host an event</h2>
      <img src="{{ site.baseurl }}/img/host.png" alt="" />
      <p>learn more</p>
    </a>
    <a class="box" href="{{ '/participate/' | prepend: site.baseurl }}">
      <h3>or you could</h3>
      <h2>attend an event</h2>
      <img src="{{ site.baseurl }}/img/attend.png" alt="" />
      <p>learn more</p>
    </a>
  </section>

  <section class="events">
    <h2>Planned events</h2>

    {% include map.html %}
  </section>

  <section class="interested">
    <p>Still interested?</p>
    <a class="button involve-button" href="#actions">Get involved!</a>
  </section>
</div>

<script src="{{ site.baseurl }}/js/countdown.js"></script>
