---
layout: default
---
<div class="home">
  <header>
    <div class="top-header">
      {% include logo.html %}
      {% include navigation.html %}
    </div>

    <div class="intro">
      <h3>REPLACEME DATES</h3>
    <h1>REPLACEME</h1>
    <h3 id="countdown"></h3>
    </div>
  </header>

  <section class="description-container">
    <img class="spaceship" src="{{ site.baseurl }}/img/img-spaceship.svg" />
    <img class="spaceship-path" src="{{ site.baseurl }}/img/img-spaceship-path.svg" />
    <div class="description">
      <h2>REPLACEME ...</h2>
      <p>REPLACEME ...</p>
      <iframe width="500" height="450" src="https://www.youtube.com/embed/knl-GIMwprs?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>

  <section id="actions" class="action-buttons">
    <a class="box" href="{{ '/host/' | prepend: site.baseurl }}">
      <h3>you could either</h3>
      <h2>host an event</h2>
      <img src="{{ site.baseurl }}/img/host.png" alt="" />
      <p>learn more</p>
    </a>
    <a class="box" href="{{ '/participate/' | prepend: site.baseurl }}">
      <h3>or you could</h3>
      <h2>attend an event</h2>
      <img src="{{ site.baseurl }}/img/attend.png" alt="" />
      <p>learn more</p>
    </a>
  </section>

  <section class="events">
    <h2>Planned events</h2>

    {% include map.html %}
  </section>

  <section class="info-buttons">
    <div class="report">
      <a href="{{ '/reporting/' | prepend: site.baseurl }}"><img src="{{ site.baseurl }}/img/icon-upload.svg" alt="" /></a>
      <p>Upload your progress</p>
      <a class="title" href="{{ '/reporting/' | prepend: site.baseurl }}">Report</a>
    </div>
    <div class="github">
      <a href="https://github.com/{{ site.github.repo }}"><img src="{{ site.baseurl }}/img/icon-github.svg" alt="" /></a>
      <p>View our code on</p>
      <a class="title" href="https://github.com/{{ site.github.repo }}">GitHub</a>
    </div>
  </section>

  <section class="interested">
    <p>Still interested?</p>
    <a class="button involve-button" href="#actions">Get involved!</a>
  </section>
</div>

<script src="{{ site.baseurl }}/js/countdown.js"></script>
