---
layout: default
---
<div class="host">
  <header>
    <div class="top-header">
      {% include logo.html %}
      {% include navigation.html %}
    </div>

    <h1>Register or attend an event in your area</h1>
    <h2>to help us improve Firefox for Android</h2>
  </header>

  <section class="content">
    <h2>
      <span class="capitalize">T</span>
      <span class="capitalize-content">
        hank you for your interest registering an event.
        <br />
        Your efforts will help Firefox users to get the support they need. Register your event by using the <a href="https://docs.google.com/forms/d/e/1FAIpQLSfvTaNGgG57wjcNypyxhmKzMWEw8f-kCzleBBnN9m3Qw_ftdw/closedform">Registration form</a>.
      </span>
    </h2>
    <div class="content-box content-box--full">
      {{content}}
    </div>
  </section>
</div>

<script src="{{ site.baseurl }}/js/map.js"></script>
<script src="{{ site.baseurl }}/js/mapData.js"></script>
